<div class="decal-summary">
    <h2>Kết quả:</h2>
    <ul>
        <li>
            <p>Số con/tờ: <span id="soToCon"></span></p>
        </li>
        <li>
            <p>Số tờ: <span id="soToIn"></span> tờ</p>
        </li>
        <li>
            <p>Tiền in: <span id="tienIn"></span> vnđ</p>
            <span>(Số lượng * đơn giá)</span>
        </li>
        <li>
            <p>Tiền cán màng: <span id="tienCanMang"></span> vnđ</p>
            <span>(Số lượng * đơn giá)</span>
        </li>
        <li>
            <p>Tiền gia công: <span id="tienGiaCong"></span> vnđ</p>
            <span>(Số lượng * đơn giá)</span>
        </li>
        <li>
            <p>Tổng tiền: <span id="tongTien"></span> vnđ</p>
            <span>(in + cán + bế)</span>
        </li>
        <li>
            <p>Giá tiền 1 con: <span id="giaTien1Con"></span> vnđ</p>
            <span>(Tổng tiền / số lượng)</span>
        </li>
    </ul>
</div>