<script defer>
  // Prevent forms from submitting.
  function preventFormSubmit() {
    var forms = document.querySelectorAll('form');
    for (var i = 0; i < forms.length; i++) {
      forms[i].addEventListener('submit', function(event) {
        event.preventDefault();
      });
    }
  }
  window.addEventListener("load", functionInit, true); 
  
  // INITIALIZE Decal Form
  function initDecalForm() {
    var $form = $("#decalForm"); 

    // Populate dropdowns with data from the spreadsheet
    $form.find('select').each(function() {
      var $select = $(this);
      var name = $select.attr('name');
      google.script.run.withSuccessHandler(function(options) {
        console.log({options});
        $select.empty();
        options.forEach(function(option) {
          $select.append('<option value="' + option + '">' + option + '</option>');
        });
      }).getDropdownOptions('Decal', name);
    });
  }
  
  //HANDLE FORM SUBMISSION
  function handleFormSubmit(formObject) {
    google.script.run.withSuccessHandler(createTable).Decal(formObject);
    document.getElementById("decalForm").reset();
  }
  
  //CREATE THE DATA TABLE
  function createTable(data) {
    console.log({data});
    if (data && data.success) {
      $("#soToCon").text(data.soToCon);
      $("#soToIn").text(data.soToIn);

      // replace pricing
      let pricing = data.pricing || {};
      let keys = Object.keys(pricing);
      keys.forEach((key) => {
        $(`#${key}`).text(formatMoney(toFloor(pricing[key])));
      });
    }
  }

  function toFloor(value) {
    if (typeof value !== 'number') {
      return NaN; // Trả về NaN nếu giá trị không phải là số
    }
  
    // Nếu số không có số thập phân, trả về luôn số đó
    if (Math.floor(value) === value) {
      return value;
    }
  
    return Math.ceil(value * 100) / 100;
  }


  // format money
  function formatMoney(value) {
    return value.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
  }

  //INITIALIZE FUNCTIONS ONLOAD
  function functionInit(){  
    preventFormSubmit();
    initDecalForm();
  };
</script>
